.correlationLabel {
    margin-top: 60px;
    margin-bottom: -10px;
}

.board {
    width: 50vw;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.statisticsItemLayout {
    position: absolute;
    width: 105%;
    min-height: 150px;
    height: 135%;
    top: -27px;
    right: -15px;
}

.container {
    margin: 5px 20px;
}

.container img {
    width: 73px;
    height: 68px;
    z-index: 2;
}

.activityLabel {
    color: black;
    margin-top: 3px;
    font-weight: 900;
}
