button {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    transition-property: background-color, border, box-shadow;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    color: #FFFFFF;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
}

.buttonType1 {
    border: none;
    background-color: #000000;
    padding: 18px 5px;
    font-size: 13px;
    width: 343px;
}

.buttonType1:hover {
    background-color: #869A91;
}

.buttonType2 {
    border: none;
    background-color: #869A91;
    font-size: 10px;
    width: 70px;
    height: 25px;
    padding-top: 3px;
    margin: auto 10px auto auto;
    align-items: center;
    z-index: 2;
}

.buttonType2:hover {
    background-color: #000000;
}


