.board {
    width: 50vw;
    margin: 0px auto;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.activityItem {
    color: black;
    margin: 10px 10px -10px;
}

.percents {
    margin-bottom: 10px;
}

.top5Label {
    margin-top: 50px;
    margin-bottom: -10px;
}

.statisticsItemLayout {
    position: absolute;
    width: 105%;
    min-height: 150px;
    height: 135%;
    top: -47px;
    right: -15px;
}
