.logo {
    float: right;
    z-index: -10;
}

.logo h1 {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
}

.logo img {
    position: absolute;
    top: 36px;
    right: 30px;
}
