@font-face {
    font-family: 'Argone';
    src: url('Argone-Black.eot');
    src: local('Argone Black'), local('Argone-Black'),
        url('Argone-Black.eot?#iefix') format('embedded-opentype'),
        url('Argone-Black.woff2') format('woff2'),
        url('Argone-Black.woff') format('woff'),
        url('Argone-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Argone';
    src: url('Argone-Light.eot');
    src: local('Argone Light'), local('Argone-Light'),
        url('Argone-Light.eot?#iefix') format('embedded-opentype'),
        url('Argone-Light.woff2') format('woff2'),
        url('Argone-Light.woff') format('woff'),
        url('Argone-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Argone';
    src: url('Argone.eot');
    src: local('Argone'),
        url('Argone.eot?#iefix') format('embedded-opentype'),
        url('Argone.woff2') format('woff2'),
        url('Argone.woff') format('woff'),
        url('Argone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Argone';
    src: url('Argone-Bold.eot');
    src: local('Argone Bold'), local('Argone-Bold'),
        url('Argone-Bold.eot?#iefix') format('embedded-opentype'),
        url('Argone-Bold.woff2') format('woff2'),
        url('Argone-Bold.woff') format('woff'),
        url('Argone-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

