img {
    z-index: -5;
}

.StartPage_1 img {
    position: absolute;
    width: 585px;
    left: -280px;
    bottom: -90px;
}


.StartPage_2 img {
    position: absolute;
    width: 627px;
    right: -395px;
    top: -7px;
}

.MainPage_1 img {
    position: absolute;
    width: 654px;
    left: -358px;
    bottom: -340px;
    z-index: -3;
}

.MainPage_2 img {
    position: absolute;
    width: 564px;
    right: -300px;
    bottom: -200px;
}

.MainPage_3 img {
    position: absolute;
    width: 483px;
    left: -210px;
    top: -247px;
}
