.container {
    position: relative;
}

.boardLayout {
    position: absolute;
    width: 1100px;
    height: 130vh;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pageContent {
    margin-top: 17vh;
}
