.activityType {
    transform: rotate(270deg);
    position: relative;
    margin: 10px;
}

.activityType p {
    top: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 12px;
    position: absolute;
}

.activityType img {
    /*transform: rotate(90deg);*/
    position: absolute;
    top: 5px;
    left: 120%;
    transform: translate(-50%, -50%);
    height: 44px;
}

.activitiesContainer {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*overflow-y: auto;*/
    flex-wrap: wrap;
    max-width: 85%;
    padding-bottom: 10px;
}

.activitiesContainer p {
    color: #869A91;
    margin-left: 10px;
    white-space: nowrap;
    padding: 5px 9px 2px;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 1px;
    transition: transform 0.9s;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}

.disButton {
    justify-self: end;
}

.flexButtons {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.activitiesContainer button {
    position: absolute;
    top: -10px;
    right: -4px;
    visibility: hidden;
    background: transparent;
    cursor: pointer;
    border: none;
}
.activitiesContainer button i {
    background: #F5EFE3;
    border-radius: 8px;
    position: absolute;
}

.activitiesContainer .editingMode {
    visibility: visible;
}

.activitiesContainer p:hover {
    transform: scale(1.05);
    color: #869A91;
    border: 2px solid #869A91;
}

.board {
    position: relative;
    width: 43vw;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px;
}

.activitiesContainer .selectedActivity {
    color: #FFFFFF;
    background: #869A91;
}

.activitiesContainer .selectedActivity:hover {
    color: #FFFFFF;
    background: #869A91;
}

.disButton {
    position: relative;
    visibility: hidden;
    display: flex;
    align-items: center;
}

.board .editingMode {
    visibility: visible;
}

.editingMode input {
    visibility: hidden;
}

.disButton input {
    visibility: hidden;
    outline: none;
    border: none;
    border-bottom: 2px solid #869A91;
    background: transparent;
    width: 68px;
    position: absolute;
    color: #869A91;
    z-index: 100;
    font-weight: 900;
    text-align: center;
}


.inputMode input {
    visibility: visible;
}

.inputMode button {
    visibility: hidden;
}

.boardItemLayout {
    position: absolute;
    width: 105%;
    min-height: 120px;
    height: 135%;
    top: -27px;
    right: -15px;
}

