.navbar {
    position: absolute;
    top: 40px;
    left: 38px;
}

.navMenu {
    width: 140px;
    height: 27vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 2;
    background: #E19E57;
    border-radius: 20px;
}

.navMenu.active {
    left: 0;
    transition: 450ms;
}

.navMenu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 40px;
    cursor: pointer;
    padding: 5px 14px;

}

.navMenu li a {
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 20px;
    border-radius: 8px;
}

.navMenu li a:hover {
    cursor: pointer;
}

