.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    /*margin-bottom: 30px;*/
    position: relative;
    max-height: 378px;
    overflow: scroll;
    width: 100vh;
    margin: 0 auto;
}

/*.container .boardContainer:first-child {*/
/*    margin-top: 130px;*/
/*}*/

.boardContainer {
    position: relative;
}

.boardContainer .deletingButton i {
    background: transparent;
    border-radius: 8px;
}

.boardContainer .deletingButton {
    position: absolute;
    top: -2px;
    right: 0px;
    background: transparent;
    cursor: pointer;
    border: none;
}

.editingBoardButton input {
    outline: none;
    border: none;
    border-bottom: 2px solid #869A91;
    color: #869A91;
    width: 68px;
    height: 20px;
    z-index: 100;
    font-weight: 900;
    background: transparent;
    text-align: center;
}

.editingBoardButton button {
    margin: 20px auto 15px;
}

.editingBoardButton input {
    margin: 20px 0px 0px;
}

.boardLayout {
    position: absolute;
    width: 1100px;
}

.editingBoardButton {
    width: 70px;
    margin: -10px auto;
}

.disButton button {
    margin: 20px 0px 0px;
}

/*.test:first-child {*/
/*    background: #CF8469;*/
/*}*/
