.container {
    display: flex;
    justify-content: center;

}

.container img {
    width: 78px;
    height: 73px;
    padding: 10px;
    margin: 10px;
    z-index: 2;
    transition: transform 0.5s;
}

.container img:hover {
    transform: scale(1.2);
}

.selectedImg {
    border: 5px solid #869A91;
    border-radius: 50%;

    background: #869A91;
}
