.App {
    position: relative;
}

.pageContent {
    position: relative;
    margin-top: 30vh;
}

.pageContent .centerImage {
    position: absolute;
    top: 65%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 520px;
}


.buttonsRow {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.buttonsRow button {
    width: 167px;
}





