@font-face {
  font-family: 'Argone';
  src: local('Argone'), url(./fonts/Argone-Black.ttf) format('truetype');
}

body {
  max-height: 100%;
  background: #F5EFE3;
  margin: 0;
  overflow: hidden;
  font-family: Argone, serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: Argone, serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 15px;
}

button {
  font-family: Argone, serif;
  letter-spacing: 2px;
  font-weight: 900;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}
