.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.container img {
    width: 73px;
    height: 68px;
    padding: 5px;
    margin: 5px 10px 30px;
    z-index: 2;
}

.individualStatisticsContainer h2 {
    position: absolute;
    text-align: center;
    z-index: 3;
    bottom: -10px;
    right: 30px;
}

.board {
    width: 50vw;
    margin: 0px auto;
    position: relative;
}

.individualStatisticsContainer {
    position: relative;
}

.moodCountLabel {
    margin-top: 30px;
    margin-bottom: -10px;
}

.statisticsItemLayout {
    position: absolute;
    width: 105%;
    min-height: 150px;
    height: 135%;
    top: -27px;
    right: -15px;
}

