.cardForm {
    width: 340px;
    background: #fbfbfb;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
}

.buttonAlone {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.buttonsRow {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.buttonsRow button {
    width: 167px;
}

form h1 {
    margin-top: 30vh;
}

form {
    position: relative;
}

form input {
    border: 2px solid #000000;
    box-sizing: border-box;
    outline: none;
    padding: 17px;
    width: 343px;
    margin: 5px 8px;
}

.inputsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.errorLabel {
    width: 343px;
    margin: 2px auto 0;
    font-size: 12px;
}

h2.errorLabel1 {
    width: 343px;
    margin: 12px auto 0;
    font-size: 12px;
}

.errorInput {
    border: 4px solid #E19E57;
}

form .centerImage {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 535px;
}

.quote {
    color: #E19E57;
    margin: 30vh auto;
    width: 35vw;
    height: 20vh;
    position: relative;
    z-index: 1000;
}

.quote .image {
    width: 18vw;

    position: absolute;
    left: -20%;
    top: 10%;

}

.quote .background {
    position: absolute;
    width: 680px;
    /*top: -50%;*/
    /*left: -10%;*/
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.quoteText {
    text-align: left;
}

.quoteAuthor {
    text-align: right;
}
